pkgbase = antigravity
	pkgdesc = An agentic development platform from Google, evolving the IDE into the agent-first era.
	pkgver = 1.20.6
	pkgrel = 1
	url = https://antigravity.google/
	arch = aarch64
	arch = x86_64
	license = LicenseRef-Google-Antigravity
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = curl
	depends = dbus
	depends = expat
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libgcc
	depends = libsecret
	depends = libsoup3
	depends = libstdc++
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxkbfile
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = openssl
	depends = pango
	depends = systemd-libs
	depends = util-linux-libs
	depends = webkit2gtk-4.1
	options = !strip
	options = !debug
	source_aarch64 = Antigravity-1.20.6-aarch64.deb::https://us-central1-apt.pkg.dev/projects/antigravity-auto-updater-dev/pool/antigravity-debian/antigravity_1.20.6-1773708612_arm64_5b7b60d8fcfc5c95ec83df02c4329f1c.deb
	sha256sums_aarch64 = d5a4d0fea158e21bba19345b98e27da130270f01a3fac6bf8823d81103747974
	source_x86_64 = Antigravity-1.20.6-x86_64.deb::https://us-central1-apt.pkg.dev/projects/antigravity-auto-updater-dev/pool/antigravity-debian/antigravity_1.20.6-1773708602_amd64_3f0d9f82447ab50374042684f891a07d.deb
	sha256sums_x86_64 = e725a5aeea575b4a74438ef48638822f7388e57e9ca1171c7d056719b3c9fd04

pkgname = antigravity
