pkgbase = antigravity
	pkgdesc = An agentic development platform from Google, evolving the IDE into the agent-first era.
	pkgver = 1.20.3
	pkgrel = 1
	url = https://antigravity.google/
	arch = aarch64
	arch = x86_64
	license = LicenseRef-Google-Antigravity
	makedepends = jq
	depends = bash
	depends = electron39
	depends = libx11
	depends = libxkbfile
	options = !strip
	options = !debug
	source = antigravity.sh
	sha256sums = e87279c0e90c05ea12df6a5a58f0a6a51b76e3e2f3b0d6411085a1cd981fe5b2
	source_aarch64 = Antigravity-1.20.3-aarch64.deb::https://us-central1-apt.pkg.dev/projects/antigravity-auto-updater-dev/pool/antigravity-debian/antigravity_1.20.3-1772763524_arm64_24cf096e858ac387c418d909a988f4f3.deb
	sha256sums_aarch64 = cac56ce5bd40be3d1fa2f6e4f3ba9e3643ec23bb170044e014e7ba315c50c246
	source_x86_64 = Antigravity-1.20.3-x86_64.deb::https://us-central1-apt.pkg.dev/projects/antigravity-auto-updater-dev/pool/antigravity-debian/antigravity_1.20.3-1772763544_amd64_36c51ccee279964e49a0a0cb4b9ac21e.deb
	sha256sums_x86_64 = 088d6fa6611513adf93ecd8445bb4ea68f7324f7eaac3c52dff1f3a13d163abc

pkgname = antigravity
