pkgbase = antigravity
	pkgdesc = An agentic development platform from Google, evolving the IDE into the agent-first era.
	pkgver = 1.20.5
	pkgrel = 1
	url = https://antigravity.google/
	arch = aarch64
	arch = x86_64
	license = LicenseRef-Google-Antigravity
	makedepends = jq
	depends = bash
	depends = electron39
	depends = libx11
	depends = libxkbfile
	options = !strip
	options = !debug
	source = antigravity.sh
	sha256sums = e87279c0e90c05ea12df6a5a58f0a6a51b76e3e2f3b0d6411085a1cd981fe5b2
	source_aarch64 = Antigravity-1.20.5-aarch64.deb::https://us-central1-apt.pkg.dev/projects/antigravity-auto-updater-dev/pool/antigravity-debian/antigravity_1.20.5-1772853393_arm64_e5932a34a8d20ae5ab1b260771d0e305.deb
	sha256sums_aarch64 = e4e3e2df79463d8df980d8a3fe9c86ea79b33573b13813313b73de8bc11bd88f
	source_x86_64 = Antigravity-1.20.5-x86_64.deb::https://us-central1-apt.pkg.dev/projects/antigravity-auto-updater-dev/pool/antigravity-debian/antigravity_1.20.5-1772853402_amd64_bdd941b37d2591b1473d335caf0d2b4f.deb
	sha256sums_x86_64 = 1e6e4833e2eff554c278c91521a28b9d8ef7793b3e878744d0e610c7cc05d82c

pkgname = antigravity
